*{
	padding: 0;
	margin: 0;
	font-family: 'PT Serif', serif;
}


body{
	background-color: #f4f4f4;
}

html{
	scroll-behavior: smooth;
}


/*header bar clinic mobile no Start */

.contact-clinic{
	font-size: 17px;	
}
.contact-clinic:before{
	content: "\f2a0";
	font-family:FontAwesome;
	padding-right: 10px;
}

.time-table{
	font-size: 15px;	
}
.time-table:before{
 content: "\f017";
 font-family:FontAwesome;
 padding-left: 35px;
 padding-right: 10px;
}

/*header bar clinic mobile no  End*/

/*Navigation menu start*/

.Logo img{
	width: 200px;
    height: 70px;
}

 .custome-menu{
	    display: flex;
    justify-content: space-around;
    width: 80%;
    text-transform: uppercase;
    font-style: 20px;
}

.active > a.nav-link{
	color: #f20453 !important;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #f20453 !important;
	transition:0.6s;
}

/*Navigation menu End*/

/*Specilitiest containent start*/

.specilitied-text-main .heart-title{
	font-size: 16px;
	font-weight: bold;
	color: #706d6b;
	 text-shadow: 1px 1px 1px #736c6e3d;
}

.custom-margin{
	margin-top: 6rem!important;
}
	
.all-headings
{
	color: #f20453;
	text-shadow: 2px 2px 2px #736c6e73;
	font-size:  35px;
	text-transform: uppercase;
}

.custom-card-body .fa{
	    font-size: 80px;
	    color: #f20453;
	    text-shadow: 2px 2px 2px #736c6e73; 
}

.custom-card-body h5{
	text-transform: uppercase;
	font-weight: bold;
	color: #3d3b3a;
}
.custom-card-body p{
	text-align: justify;
	font-size: 15px;
}

/*Specilitiest containent End*/


/* About section Start*/

.about-title h6{
	font-size: 16px;
	font-weight: bold;
	color: #706d6b;
	 text-shadow: 1px 1px 1px #736c6e3d;
	 text-transform: uppercase;
}


.custom-image img{
	width: 100%;
}


.custom-about-paragraph h4{
	color: #f20453;
	text-shadow: 2px 2px 2px #736c6e73;
	font-size: 30px;
	  text-transform: capitalize;
	  padding-top: 10px;
}

.custom-about-paragraph .text-paragraph{
	color: #666462;
	font-size: 18px;
	text-align: justify;
}

.custom-about-paragraph .text-subtitle-pera{
	
	font-size: 18px;
	text-align: justify;
}


/* About section End*/


/*Doctor Name Strat*/ 
.text-title-heading{
	color: #f20453;
	text-shadow: 2px 2px 2px #736c6e73;
	font-size: 25px;
	padding: 0px 15px;
}

.sub-tiltle {
	padding: 0px 15px;
}

/*Doctor Name End*/ 


/*About cardio Start*/

.title-cardio h4{
	color: #f20453;
	text-shadow: 2px 2px 2px #736c6e73;
	font-size: 25px;
	/*padding: 0px 15px;*/
}

.title-cardio p{
	text-align: justify;
	font-size: 15px;	
}

/*About cardio End*/

/*Gallery section Start*/
.custom-gallery .title-our{
	font-size: 16px;
	font-weight: bold;
	color: #706d6b;
	 text-shadow: 1px 1px 1px #736c6e3d;
	 text-transform: uppercase;
}

.custom-gallery .title-gallery{
	color: #f20453;
	text-shadow: 2px 2px 2px #736c6e73;
	font-size: 45px;
	padding: 0px 15px;
	text-transform: capitalize;
}

/*Gallery section Start*/

/*footer us Start*/
.custom-foter .hedind-footer{
	color: white;
	font-size: 23px;
	font-weight: bold;
}

.custom-foter p{
	color: #c9c5c5;
}

.custom-foter a i{
	padding: 5px 15px;
	font-size: 32px;
	color: #adabab;
}

.custom-foter a i:hover{
	color: white;
	cursor: pointer;
	transition: 0.5s;

}

.foter-menu .link-style{
	color: white;
}

.order-list-footer li a{
	color: white;
	
}

.order-list-footer li a:hover{
	color: #f20453;
	transition: 0.4s;
	text-decoration: none;
}

.info-contact h4{
	color: white;
}

.info-contact .text-add {
	color: #c9c5c5;
}

.info-contact .phn{
	color: white;
}
.info-contact .mob-no{
	color: #c9c5c5;
}

.info-contact .mob{
	color: white;
}
.info-contact .phon-no{
	color: #c9c5c5;
}

.info-contact .eml{
	color: white;
}
.info-contact .email{
	color: #c9c5c5;
}

/*footer us End*/

/*DR profile CSS start*/
.dr-name h3{
	color: #3d3d3d;
}

.dr-name .veryfied-icone{
	font-size: 15px;
}
.dr-name .veryfied-icone:before{
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 22px;
	color: green;
	padding-right: 10px;
}



.fc-button-group .fc-agendaDay-button{
	display: none;
}

.botn-size .f-bton{
	/*padding: 5px;
	font-size: 13px;*/
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428590;
    text-align: center;
    white-space: nowrap;
    /* vertical-align: middle; */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
/*DR profile CSS start*/

@media screen and (max-width: 600px)
{
	.all-headings
	{
		font-size: 35px;
	}

	.dr-name h3 {
	    padding-top: 20px;
	}
}

