*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}

.header .butoon{
	background: #eb5757;
	color: #fff;
	width: 10%;
	border-radius: 15px;

}

.header h5{
	font-size: 18px;
	padding-left: 5px;
}

.navbar{
	background: #eb5757;
}

.icons a{
	width:50px;
	text-align: center;
	border-radius: 8px;

}

.icons .fa{
	font-size: 24px;
}

.banner img{
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba(0,0,0,0.73);
}

.caption{
	
	width: 350px;
	height: 300px;
	
	text-align: left;
	margin-left: 15px;
}


.caption h5{
	
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 3px;	
}

.caption p{
	
	font-size: 17px;
	padding-top: 5px;
}

.btn-outline-secondary {
	width: 130px;
    color: #ffffff;
    background-color: transparent;
    
    border-color: #ffffff;
}

.info p{
	font-size: 14px;
	margin-bottom: 0px;
}

.info h1{
	font-weight: bold;
}

.card-blank{
	width: 65%;
	height: 270px;
	background: #000;
	
}

.card-blank p{
	font-size: 32px;
	color: #fff;
	padding-left: 20px;
	padding-top: 10px;
	text-align: left;

}
.card-blank h4{
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-top: 5%;
	
}

.card-blank i.fa {
		color: #fff;
		font-size: 9rem;
		margin-top: 15%;		
		margin-left: 60%;
		overflow: hidden;

}

.custom-roow{
	text-align: -webkit-center;
}

.para-text{
	width: 65%;
	height: 110px;
	font-size: 14px;
	text-align: left;

}

.img-effect{
	width: 100%;
	height: 500px;
	background-image: linear-gradient(rgba(24, 27, 36,0.55), rgba(24, 27, 36,0.55)), url('images/dell1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.custom-img{
	position: relative;
}
.custom-img h3{
	position: absolute;
	top: 5%;
	right: 2%;
	color: #ffff;
	font-size: 54px;
	padding-top: 25px;
	text-align: right;	
	font-weight: bold;
}

.custom-img p{
	position: absolute;
	right: 20px;
	top: 250px;
	color: #fff;
	font-size: 18px;
	text-align: right;
	width: 380px;
	padding-top: 5px;
}

.botton{
	position: absolute;
	top: 380px;
	right: 20px;
}

.botton{
	background: transparent;
	border-color: #fff;
	color: #fff;
	width: 20%;
}
.botton:hover{
	background: #ffffff29;
}

.btn:focus{
	box-shadow: none;
}



/*@media screen and (max-width: 699px)
{
	.caption
	{
		top: 20%;
	}
}*/

@media (max-width: 1230px)
{
	.caption{
			right: 75%;
	    	bottom: 20px;
	    	top: 20%;
	    	left: 0;
	}
}




@media screen and (min-width: 700px)
{
	.caption
	{
		right: 72%;
    	bottom: 20px;
    	top: 17%;
    	left: 0;
	}
}


@media screen and (max-width: 768px)
{
	.header .butoon {
    background: #eb5757;
    color: #fff;
    width: 24%;
    border-radius: 15px;
    padding-top: 2px;
}
	

	.header h5 {
    font-size: 14px;
    padding-left: 9px;
    padding-top: 10px;
	}

	.btn-outline-secondary {
    width: 24%;
    height: 25px;
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    padding-top: 1px;
    font-size: 13px;
	}

	.caption p {
    font-size: 9px;
    padding-top: 0px;
    margin-bottom: 6px;
	}

	.caption h5 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
	}

	.caption {
    right: 75%;
    bottom: 20px;
    top: 5%;
    left: 0;
	}

	.custom-img h3 {
    position: absolute;
    /* top: 5%; */
    right: 7%;
    color: #ffff;
    font-size: 33px;
    padding-top: 69px;
    text-align: right;
    font-weight: bold;
}

	.custom-img p {
    position: absolute;
    right: 20px;
    /* top: 197px; */
    color: #fff;
    font-size: 18px;
    text-align: right;
    width: 100%;
    padding: 0px 10px;    
	}

	.info h1 {
    font-weight: bold;
    padding-left: 20px;
	}

	.info p {
    font-size: 20px;
    margin-bottom: 0px;
    padding-left: 24px;
	}	

	.infor p{
	padding-left: 16px;
    padding-right: 16px; 
	}

	.botton {
    background: transparent;
    border-color: #fff;
    color: #fff;
    width: 40%;
    position: absolute;
    top: 397px;
    right: 52px;
	}

}